<section class="header">
  <div class="left">
    <img id="logo" src="./images/logo.png" alt="logo" />
    <p id="site-name">Flashcards DB</p>
  </div>
  <div class="right">
    <p id="signin">Sign In</p>
    <div class="dropdown">
      <img src="./images/hamburger.png" alt="menu" onclick="myFunction()" class="hamburger"/>
      <div id="myDropdown" class="dropdown-content">
        <a ui-sref="browse">Seach Sets</a>
        <a href="#">Create Set</a>
        <a href="#">My Account</a>
      </div>
</div>
  </div>
</section>
<section class="img-container">
  <div id="background-image">
    <h1 id="ditchThePencil">Ditch the pencil</h1>
    <p id="makeStudyingEasier">Make studying easier with Flashcards DB</p>
    <div>
      <input class="signup-input" type="text" placeholder="Email" name="name" value="">
      <input class="signup-input" type="password" placeholder="Password" name="name" value="">
    </div>
    <button  class="signup-button" type="button" name="button">Signup for free</button>
    <p id="orSignin">Or signin</p>
  </div>
</section>
