<menu-bar></menu-bar>
<section class="img-container">
  <div id="background-image">
    <h1 id="ditchThePencil">Ditch the pencil</h1>
    <p id="makeStudyingEasier">Make studying easier with Flashcards DB</p>
    <div>
      <input class="signup-input" type="text" placeholder="Email" name="name" value="">
      <input class="signup-input" type="password" placeholder="Password" name="name" value="">
    </div>
    <button  class="signup-button" type="button" name="button">Signup for free</button>
    <p id="orSignin">Or signin</p>
  </div>
</section>
