<menu-bar></menu-bar>

<section class="body-container">
    <h1 class="set-name">{{set.title}}</h1>
    <h2 class="set-description">...{{set.description}}</h2>

  <div class="flashcard-container" ng-repeat="obj in flashcards track by $index" ng-show="$index === currentIndex" ng-animate="slideInLeft">
    <h1 class="term">{{obj.term}}</h1>
  </div>
  <section class="controls">
    <img src="../images/up.png" alt="up-arrow" />
    <div class="">
      <img ng-click="previousCard()" src="../images/left.png" alt="left-arrow" />
      <img ng-click="nextCard()" src="../images/right.png" alt="right-arrow" />
    </div>
    <img src="../images/down.png" alt="down-arrow" />
  </section>








  <!-- <br></br>
  <ul ng-repeat='obj in flashcards'>
    <li>{{obj.term}}</li>
    <li>{{obj.definition}}</li>
    <br></br>
  </ul>
</section> -->
