.main-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.results-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-results{
  width: 80%;
  height: 400px;
}
.results-list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 800px;
  width: 100%;
  font-size: 20px;

  background-color: lightgrey;
}
#search-form{
  margin-bottom: 10px;
}
