.home-bodyWrapper{
  background-color: #fdfcf7;
  background-image: url('../images/home/1.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
#home-greeting{
  text-align: center;
  font-size: 40px;
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 40px;
}
.home-update_create-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  /*background-color: #F7F7F7;*/

}
.home-editAccount{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  background-color: #F7F7F7;
  border-right: 1px solid black;
}
.home-createSet{
  width: 70%;
  height: 670px;
  overflow-y: auto;
}
.home-createSetHeader{
  display: flex;
  align-items: center;
  flex-direction: column;
}
#input-margin{
  margin-bottom: 20px;
}
#home-accountProperty{
  font-size: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}
#home-accountInfo{
  font-size: 20px;
}
#home-updateButton{
  color: white;
  background-color: #7f2824;
}
#home-createAndManageSet{
  font-size: 20px;
  text-align: center;

}
.home-mySetsCreateSetContainer{
  display: flex;
  flex-direction: column;
}
#home-mySetsContainer{
  margin-left: 60px;
  width: 90%;
  height: 250px;

  column-width: 200px;
  border: 1px solid orange;

}
#home-setName{
  font-size: 20px;
  color: black;
  font-family: 'Libre Baskerville', serif;
}
#home-setName:hover{
  color: #7f2824;
  font-weight: bold;
  cursor: pointer;
}
#home-footer{
  width: 100%;
  height: 100vw;
  background-color: #670400;
  margin-bottom: 25px;
}
