.home-bodyWrapper{
  background-color: #fdfcf7;
  border-top: 1px solid black;
}
#home-greeting{
  text-align: center;
  font-size: 50px;
  font-family: 'Libre Baskerville', serif;
  margin-top: 10px;
}
.home-update_create-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  /*background-color: #F7F7F7;*/

}
.home-editAccount{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  background-color: #F7F7F7;
  border-right: 1px solid black;
}
.home-createSet{
  width: 70%;
  height: 670px;
  overflow-y: auto;
}
.home-createSetHeader{
  display: flex;
  align-items: center;
  flex-direction: column;
}
#input-margin{
  margin-bottom: 20px;
}
#home-accountProperty{
  font-size: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}
#home-updateButton{
  color: white;
  background-color: #7f2824;
}
#home-createAndManageSet{
  text-align: center;

}
.home-mySetsCreateSetContainer{
  display: flex;
  flex-direction: row;
}
#home-mySetsContainer{
  width: 100%;
  height: 800px;
  column-width: 400px;
  margin-left: 350px;
}
#home-setName{
  font-size: 20px;
  color: black;
  font-family: 'Libre Baskerville', serif;
}
#home-footer{
  width: 100%;
  height: 100vw;
  background-color: #670400;
  margin-bottom: 25px;
}
