#myset-header{
  width: 100%;
  height: 100px;
  background-color: maroon;
  margin-bottom: 25px;
}
.body-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flashcard-container{
  background-image: url('../images/flashcard-front.png');
  height: 310px;
  width: 510px;
  display: flex;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: calc(50vw - 255px);
}
.set-name{
  font-size: 60px;
  margin-bottom: 75px;
}
.set-description{
  font-size: 20px;
}
.wrapper{
  position: relative;
  height: 310px;
  width: 100vw;
}
#term{
  font-size: 60px;
  text-align: center;
  margin-left: 15px;
}
#definition{
  font-size: 40px;
  text-align: center;
  margin-left: 15px;
}
#flip-arrow-button{
  height: 50px;
  width: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
#right-arrow-button{
  transform: rotate(180deg);
  height: 35px;
  width: 50px;
  margin-right: 25px;
}
#left-arrow-button{
  height: 35px;
  width: 50px;
  margin-left: 25px;
}
.controls{
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid black;
}
