<menu-bar></menu-bar>
<section class='home-bodyWrapper'>
  <h1 id="home-greeting">Welcome to your account, {{name}}</h1>
  <div class="home-update_create-container">
    <form ng-model="user" class="home-editAccount">
      <h1 id="home-accountInfo">Account Information</h1>
      <p id="home-accountProperty">Name: <input ng-model="user.name" ng-value="name" type="text" required></p>
      <p id="home-accountProperty">Email: <input ng-model="user.email" ng-value="email" type="text" required></p>
      <button  ng-click="updateUsernameEmail(user)" id="home-updateButton" type="button">Update Name/Email</button>
      <p id="home-accountProperty">Password: <input ng-model="user.password" type="password" required></p>
      <button id="home-updateButton" type="button">Update Password</button>
    </form>
    <div class="home-createSet">
      <div class="home-createSetHeader">
        <h1 id="home-createAndManageSet">Create/View Sets</h1>
        <form ng-model="newSet" ng-submit="createNewSet(newSet)">
          <input ng-model="newSet.setName" type="text" placeholder="enter set name" id="home-newSetNameInput" required>
          <input id="input-margin" ng-model="newSet.setDescription" type="text" placeholder="enter set description">
          <button id="home-updateButton" type="submit">Add Set</button>
          <input placeholder="Search sets" ng-model="filterSets"></input>

        </form>
      </div>
      <div class="home-mySetsCreateSetContainer">
        <div id="home-mySetsContainer">
          <ul ng-repeat="set in sets | filter: filterSets track by $index">
            <li ui-sref="mySet({setId: set._id})" id="home-setName">{{set.setName}}</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div id="home-footer"></div>
</section>
