<menu-bar></menu-bar>
<div id="myset-header"></div>

<section class="body-container">
    <h1 class="set-name">{{set.setName}}</h1>
    <h2 class="set-description">...{{set.setDescription}}</h2>
    <p>{{currentFlashcard}}/{{flashcards.length}}</p>
<div class="wrapper">
    <div ng-repeat="obj in flashcards track by $index">
      <div ng-class="{slideInLeft: $index===currentIndex && fob==='f', fadeOutRight: $index !== currentIndex && fob==='f', slideInRight: $index===currentIndex && fob==='b', fadeOutLeft: $index !== currentIndex && fob==='b', flipOutX: fob==='u' && showTerm===true, flipInX: fob==='u' && showTerm===false}" ng-show="$index === currentIndex && showTerm===false" class="animated flashcard-container" >
          <h1 class="term">{{obj.term}}</h1>
      </div>
      <div ng-show="$index===currentIndex && showTerm===true" ng-class="{slideInLeft: $index===currentIndex && fob==='f', fadeOutRight: $index !== currentIndex && fob==='f', slideInRight: $index===currentIndex && fob==='b', fadeOutLeft: $index !== currentIndex && fob==='b', flipInX: fob==='u' && showTerm===true, flipOutX: fob==='u' && showTerm===false}" class="animated flashcard-container">
        <h1 class="term">{{obj.answer}}</h1>
      </div>
  </div>
</div>

  <section class="controls">
    <div class="">
      <img ng-click="previousCard()" src="../images/left.png" alt="left-arrow" />
      <img ng-click="showAnswer()" id="flip-arrow-button" src="../images/flip-arrow-button.png" alt="up-arrow" />
      <img ng-click="nextCard()" src="../images/right.png" alt="right-arrow" />
    </div>
  </section>

<!-- Add New Card -->

<h2>Add new card to set</h2>
<form ng-model="newCard" ng-submit="addCardToSet(newCard)">
  <input ng-model="newCard.term" type="text" placeholder="Enter term" required>
  <input ng-model="newCard.answer"type="text" placeholder="Enter answer" required>
  <input ng-model="newCard.hint"type="text" placeholder="Enter hint (Optional)">
  <button type="submit">Submit</button>
</form>
