<menu-bar></menu-bar>
<div id="myset-header"></div>

<section class="body-container">
    <h1 class="set-name">{{set.setName}}</h1>
    <h2 class="set-description">...{{set.setDescription}}</h2>
    <p>{{currentFlashcard}}/{{flashcards.length}}</p>
<div class="wrapper">
    <div ng-repeat="obj in flashcards track by $index">
      <div ng-class="{slideInLeft: $index===currentIndex && fob==='f', slideOutRight: $index !== currentIndex && fob==='f', slideInRight: $index===currentIndex && fob==='b', slideOutLeft: $index !== currentIndex && fob==='b', flipOutX: fob==='u' && showTerm===true, flipInX: fob==='u' && showTerm===false}" ng-show="$index === currentIndex && showTerm===false" class="animated flashcard-container" >
          <h1 class="term">{{obj.term}}</h1>
      </div>
      <div ng-show="$index===currentIndex && showTerm===true" ng-class="{slideInLeft: $index===currentIndex && fob==='f', slideOutRight: $index !== currentIndex && fob==='f', slideInRight: $index===currentIndex && fob==='b', slideOutLeft: $index !== currentIndex && fob==='b', flipInX: fob==='u' && showTerm===true, flipOutX: fob==='u' && showTerm===false}" class="animated flashcard-container">
        <h1 class="term">{{obj.answer}}</h1>
      </div>
  </div>
</div>

  <section class="controls">
    <img ng-click="showAnswer()" src="../images/up.png" alt="up-arrow" />
    <div class="">
      <img ng-click="previousCard()" src="../images/left.png" alt="left-arrow" />
      <img ng-click="nextCard()" src="../images/right.png" alt="right-arrow" />
    </div>
    <img src="../images/down.png" alt="down-arrow" />
  </section>
