<menu-bar></menu-bar>

<section class="mySet-body-wrapper">
  <section class="body-container">
      <h1 class="set-name">{{set.setName}}</h1>
      <h2 ng-show="set.setDescription.length > 0" class="set-description">...{{set.setDescription}}</h2>
      <h2 ng-show="flashcards.length > 0" class="set-number">{{currentFlashcard}}/{{flashcards.length}}</h2>

  <div id="flip-container" class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <h1 class="animated flashcard-container"
            id="term">{{flashcards[currentIndex].term}}
        </h1>
      </div>
      <div class="back">
        <h2 class="animated flashcard-container"
          id="definition">{{flashcards[currentIndex].answer}}
        <h2>
      </div>
    </div>
  </div>

    <section class="controls">
      <div class="">
        <input ng-model="autoplay" id="autoplayCheckbox" type="checkbox">
        <label for="autoplayCheckbox" style="color: #fbf7e4;">Autoplay</label>
        <img ng-click="previousCard()" id="left-arrow-button" src="../images/left-right-arrow.png" alt="left-arrow" />
        <img ng-click="showAnswer()" id="flip-arrow-button" src="../images/flip-arrow-button.png" alt="up-arrow" />
        <img ng-click="nextCard()" id="right-arrow-button" src="../images/left-right-arrow.png" alt="right-arrow" />
        <button ng-click="shuffle(flashcards)" type="button">Shuffle</button>
      </div>
    </section>
  </section>



  <!-- Add New Card -->

  <section class="add-card-to-set">
    <h2 class="add-card-to-set-header">Add new card to set</h2>
    <div>
      <form ng-model="newCard" ng-submit="addCardToSet(newCard)">
        <input ng-model="newCard.term" type="text" placeholder="Enter term" id="mySet-inputTerm" required>
        <input ng-model="newCard.answer"type="text" placeholder="Enter answer" required>
        <input ng-model="newCard.hint"type="text" placeholder="Enter hint (Optional)">
        <button type="submit">Submit</button>
      </form>
    </div>
  </section>


  <!-- Scripts -->
  <script>
  </script>
  <!-- /Scripts -->
</section>
