<menu-bar></menu-bar>
<div id="myset-header"></div>

<section class="body-container">
    <h1 class="set-name">{{set.title}}</h1>
    <h2 ng-show="set.description.length > 0" class="set-description">...{{set.description}}</h2>
    <p ng-show="flashcards.length > 0">{{currentFlashcard}}/{{flashcards.length}}</p>
    <div class="wrapper">
        <div ng-repeat="obj in flashcards track by $index">
          <div ng-class="{slideInLeft: $index===currentIndex && fob==='f', fadeOutRight: $index !== currentIndex && fob==='f', slideInRight: $index===currentIndex && fob==='b', fadeOutLeft: $index !== currentIndex && fob==='b', flipOutX: fob==='u' && showTerm===true, flipInX: fob==='u' && showTerm===false}" ng-show="$index === currentIndex && showTerm===false" class="animated flashcard-container" >
            <h1 id="term">{{obj.term}}</h1>
          </div>
          <div ng-show="$index===currentIndex && showTerm===true" ng-class="{slideInLeft: $index===currentIndex && fob==='f', fadeOutRight: $index !== currentIndex && fob==='f', slideInRight: $index===currentIndex && fob==='b', fadeOutLeft: $index !== currentIndex && fob==='b', flipInX: fob==='u' && showTerm===true, flipOutX: fob==='u' && showTerm===false}" class="animated flashcard-container">
            <h1 id="definition">{{obj.definition}}</h1>
          </div>
      </div>
    </div>

<section class="controls">
  <div class="">
    <input ng-model="autoplay" id="autoplayCheckbox" type="checkbox">
    <label for="autoplayCheckbox">Autoplay</label>
    <img ng-click="previousCard()" id="left-arrow-button" src="../images/left-right-arrow.png" alt="left-arrow" />
    <img ng-click="showAnswer()" id="flip-arrow-button" src="../images/flip-arrow-button.png" alt="up-arrow" />
    <img ng-click="nextCard()" id="right-arrow-button" src="../images/left-right-arrow.png" alt="right-arrow" />
    <button ng-click="shuffle(flashcards)" type="button">Shuffle</button>
  </div>
</section>
